form{ 
	width: 310px; 
	margin: 200px auto; 
	padding: 30px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: 0px 2px 4px rgba(220,218,216,0.75);
	-webkit-box-shadow: 0px 2px 4px rgba(220,218,216,0.75);
	-o-box-shadow: 0px 2px 4px rgba(220,218,216,0.75);
	box-shadow: 0px 2px 4px rgba(220,218,216,0.75);
}

.loginlabel{
	color: #4D90FE;
	text-align: left;
	font-size: 1.5em;
	line-height: 1.9em;
}

#loginPage input[type="submit"]{
	margin: 0px auto;	
}

.roundedfield input, .roundedfield input:active{ width: 300px; display: block; padding: 4px; margin: 0 0 10px 0; font-size: 1.2em; }			